<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/output.css" />
  <title>Grocery | <%= title %>
  </title>
</head>

<body class="dark:bg-black dark:text-white grid">
  <div class="grid md:grid-cols-[auto_1fr]">
    <%- include("./sidebar") %>
      <main class="p-16 flex flex-col gap-4 lg:flex-row">
        <div>
          <img class="w-[300px] h-auto rounded-lg" src=<%=item.image_url ? item.image_url : "/img/place-holder.jpg" %>
          alt="">
        </div>
        <div>
          <h1 class="text-2xl text-red-600 font-bold">
            <%= item.name %>
          </h1>
          <p class="font-semibold">Description: <span class="font-normal">
              <%= item.description %>
            </span></p>
          <p class="font-semibold">Category: <span class="font-normal">
              <%= item.category.name %>
            </span></p>
          <p class="font-semibold">Price: <span class="font-normal">
              <%= item.price %>
            </span></p>
          <p class="font-semibold">Number of in stock: <span class="font-normal">
              <%= item.stock %>
            </span></p>
          <section>
            <button class="px-4 py-2 border-2 border-red-600 mr-auto font-semibold bg-white text-black rounded-xl"><a
                href=<%=`${item.url}/update` %>>Update</a></button>
            <button class="px-4 py-2 mr-auto font-semibold border-2 border-red-600  bg-white text-black rounded-xl"><a
                href=<%=`${item.url}/delete` %>>Delete</a></button>
          </section>
        </div>
      </main>
  </div>
</body>

</html>